<template name="navbar">
<nav class="navbar navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">Denton Revival</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{{isActiveRoute 'problems'}}"><a href="{{pathFor 'problems'}}">Problems</a></li>
              <li class="{{isActiveRoute 'howTo'}}"><a href="{{pathFor 'howTo'}}">How to use this app</a></li>
              <li class="{{isActiveRoute 'comments'}}"><a href="{{pathFor 'comments'}}">Comments</a></li>
              <li class="{{isActiveRoute 'about'}}"><a href="{{pathFor 'about'}}">About</a></li>
              <li class="{{isActiveRoute 'blog'}}"><a href="{{pathFor 'blog'}}">Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</template>