<template name="homeView">
	<h2>The denton creative community needs a boost!</h2>
	<hr>
<div class="row">
	<div class="col-md-6">

		<h3>DENTON REVIVAL!!</h3>
		<h3>DENTON REVIVAL!</h3>
		<h3>DENTON REVIVAL!!</h3>
		<h3>DENTON REVIVAL!!</h3>
		<h3>DENTON REVIVAL!</h3>
		<h3>DENTON REVIVAL!!</h3>
		<h3>DENTON REVIVAL!!</h3>
		<h3>DENTON REVIVAL!</h3>
		<h3>DENTON REVIVAL!</h3>

	  	
	</div>
	<div class="col-md-6">

		 <div class="content-box">
			<h3>Let's use modern tools<br> to build infrastructure!</h3>
			<p>It's a Denton revival!</p>
		 </div>	
		 <hr>
		<div class="content-box">
			<h3>Let's use modern tools<br> to build infrastructure!</h3>
			<p>It's a Denton revival!</p>
		 </div>
		 <hr>	
		 <div class="content-box">
			<h3>Let's use modern tools<br> to build infrastructure!</h3>
			<p>It's a Denton revival!</p>
		 </div>	

	</div>
	</div>
	<hr>
	<h2><a href="{{pathFor 'newProblem'}}">What's your problem with Denton?</a></h2>
</template>