<template name="homeView">
<h2>The denton creative community needs a boost!</h2>
<h3>Let's use modern tools to build infrastructure!</h3>
<p>The first mistake that people usually make in business is focusing on the solution rather than the problem they are trying to solve.  Sometimes this results is making a solution that doesn't actually solve anyone's problems.</p>
<p>If we spend some time figuring out what the problems of the local denton creative community are, we can figure out which problems to try and solve first.  With a voting system, we can see which problems are most important to us.</p>
<p>From the individual problems, we can propose solutions and vote on their importance.  The result?  The higest rated problem gets solved with the highest rated solution.</p>
<p>This will give us direction and a starting point in how to build infrastructure for the crative community.</p>
<h3><a href="{{pathFor 'problems'}}">Click Here to vote on current issues or create a new problem.</a></h3>
</template>