<template name="howToView">
<h2>But how does this make Denton better?</h2>
<div class="row">
	<div class="col-md-6">
		<a href="http://www.amazon.com/Running-Lean-Iterate-Works-OReilly/dp/1449305172/ref=sr_1_1?ie=UTF8&qid=1462484189&sr=8-1&keywords=running+lean">
	<img width="80%" src="http://ecx.images-amazon.com/images/I/51tCIG3jMzL._SY344_BO1,204,203,200_.jpg"></a>
	</div>
	<div class="col-md-6">
	<div class="content-box">
	<h3>The gist...</h3>
	<p>Denton is growing, that can be a good thing! Often, the creative community isn't armed with the tools of business and, sadly, get outpaced by more some of the more imperial habitants.  With a good infastructure, we can fast track or reduce overhead the things we care about most.</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Lean Methodology</h3>
	<p>How do we get the most valuable stuff out that people at the lowest cost? That's where lean comes in, it's my guide to making stuff that people actually want!</p>
	<p>One of the first mistakes that lean points out, is that we spend an inproportionate amount of time on our solution and our problems should actually be given more thought!  If we can figure out what our biggest problems are, we can brainstorm solutions to figure out simplest way to fix them.</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Segments</h3>
	<p> Musicians, artists, caterers and the many other creative venues in denton are definately going to have different sets of problems and should be categorized as so.  However, these segments can work together because a solution can come from any segment.</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Problems</h3>
	<p>Vote on current problems or add a new problem.  If a problem falls below -5 votes it will be removed from the system.  There is no way to edit problems, if a better way to state a problem comes about, it should be put on a new problem and voted on accordingly.</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Metrics</h3>
	<p>We need a way to be able to track the state of the problem in a way that has solvable metrics, these generate survey questions for the community to answer.</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Surveys</h3>
	<p>The more questions you answer, the more it feeds back into the system so we can see what the state of our problems are!</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Solutions</h3>
	<p>If you click on a problem, you will be able to see a list of proposed solutions for the problem and vote on them / leave comments</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>Solutions - Todos</h3>
	<p>When we figure out a specific solution, we'll break it into a todo list and keep track of when they are finished!</p>
	</div>
	<div class="content-box">
	<h3>Comments</h3>
	<p>Hopefully there will be much discussion on how to make this thang better! I'm going to try and be a lean referee, but any discourse is accepted!</p>
	</div>
	<hr>
	<div class="content-box">
	<h3>This app...</h3>
	<p>Check out the problem / solution behind <a href="http://dentonrevival.learn-everything.io/problem/denton-creative-people-need-basic-architecture-to-help-collaborate-and-work-together">Denton Revival Solution</a>.  We can manage features there and keep track and I'll keep on providing Denton Revival with whatever I can!</p>
	</div>
	</div>
</div>
<hr>
<div class="content-box">
<a href="http://rubberglovesdentontx.com/"><h2>In honor of</h2>
<header role="banner" class="grid_12_clearfix">
<hgroup>
	<h1 class="ir"><a href="/">Rubber Gloves Rehearsal Studios</a></h1>
	<h2 class="visuallyhidden">Live Music Venue, Industrial Dive Bar, Rehearsal Studio, Classic Arcade</h2>
</hgroup>
</header></a
>
<a href="http://square205.com"><h2>Powered by </h2>
<img width="40%" src="http://square205.com/wp-content/themes/twentythirteen/images/logo.png"/></a>
<p>Rubber Gloves Rehearsal Studios, *tears* this is a huge loss for Denton. A lot of people just think this was a place to play and listen to shows. However, it also provided infrastructure and an open canvas that anyone could practice and play / learn music with it's many rehearsal studios. At the same time, a huge win for Denton, KUZU, has emerged so all hope isn't lost; it's just a sign to dig in and take some responsibility for our changing Denton.</p>
<p>I think without Rubber Gloves there's going to be a huge gap in local creative infrastructure, and many people are thinking / offering ways to fix it. There are also some new players in Denton that seem to want to replace our culture and are winning because they have capital / business backing and the infrastructure to execute.</p>
<p>I, myself, can't produce a physical space that would even come close to the value of what Rubber Gloves contributed. However I can attempt to create tools for infrastructure so there is an easy way to match local artists with a place to show their art or other things. That's just an idea, and that being said, ideas are cheap and the magic actually happens in execution. Also, I'm not sure if that's the biggest problem the local artist community is facing.</p>
<p>In short, we gotta up our game and use modern business tools / methodologies to help give us a voice and produce the most effective ways for us, as artists, to collaborate and share.</p>
</div>
<hr>
<div class="content-box">
<h3><i>Anybody want in?</i></h3>
<p>ps - If you wanna get your hands dirty with some code, I have it hosted on github <a href="https://github.com/Neobii/DentonRevival">here</a>.  I use Meteor for the webapp and any contributions are welcome!</p>
</div>
<hr>
</template>