<template name="howToView">
<h2>But how does this make Denton better?</h2>
<div class="row">
	<div class="col-md-6">
		<a href="http://www.amazon.com/Running-Lean-Iterate-Works-OReilly/dp/1449305172/ref=sr_1_1?ie=UTF8&qid=1462484189&sr=8-1&keywords=running+lean">
	<img width="80%" src="http://ecx.images-amazon.com/images/I/51tCIG3jMzL._SY344_BO1,204,203,200_.jpg"></a>
	</div>
	<div class="col-md-6">
	<h3>Lean Methodology</h3>
	<p>This webapp is constructed in a way that it is based off of Lean principles.  The book emphasises a strong dileniation between problems and solutions and that most people spend an inproportionate amount of time working on their solution</p>
	<p>This book will give insight on how to state and vet problems and solutions, to find the most effective combinations. Just simply stating well thought out problems and solutions is a big contribution.</p>
	<h3>Problems</h3>
	<p>Vote on current problems or add a new problem.  If a problem falls below -5 votes it will be removed from the system.  There is no way to edit problems, if a better way to state a problem comes about, it should be put on a new problem and voted on accordingly.</p>
	<h3>Solutions</h3>
	<p>If you click on a problem, you will be able to see a list of proposed solutions for the problem and vote on them / leave comments</p>
	<h3>Solutions - Todos</h3>
	<p>When we figure out a specific solution, we'll break it into a todo list and keep track of when they are finished!</p>
	<h3>Comments</h3>
	<p>Hopefully there will be much discussion on how to make this thang better! I'm going to try and be a lean referee, but any discourse is accepted!</p>
	</div>
</div>
</template>