<template name="problemView">
{{#with problem}}
<h2>{{score}} - {{title}} <br>{{> problemVoting}}</h2>
<h3>{{targetGroup.name}}</h3>
<p>{{description}}</p>
<h2>Performance Indicators - <a href="{{pathFor 'newPI' slug=slug}}"><small>Add new Performance Indicator</small></a></h2>
{{#each metrics}}
{{> metric}}
{{/each}}
<h2>Solutions - <a href="{{pathFor 'newSolution' slug=slug}}"><small>Add new Solution</small></a></h2>
{{#each solutions}}
{{> solution}}
{{/each}}
{{/with}}
{{> commentsView}}
</template>