<template name="solutionView">
{{#with solution}}
<h2>{{score}} - {{title}} {{> solutionVoting}}</h2>
<p>{{#autolink}}{{description}}{{/autolink}}</p>
<h3>Fixes problem: {{#with problem}}<a href="{{pathFor 'problem' slug=slug}}">{{title}}</a>{{/with}}</h3>
<hr>
{{#unless $.Session.get "currentlyAddingTodo"}}
<h2>Todo <small><a href="" data-action="add-todo">Add Todo</a></small></h2>
{{else}}
<h2>Todo <small><a href="" data-action="cancel-todo">Cancel Todo</a></small></h2>
{{#autoForm type="insert" id="insertTodoForm" collection="SolutionsTodos"}}
{{> afQuickField name="title"}}
<button class="btn btn-primary" data-action='cancel-todo'>Submit</button>
{{/autoForm}}
<hr>
{{/unless}}
{{#if Template.supscriptionsReady}}
{{#each todos}}
{{> solutionTodo}}
{{/each}}
{{/if}}
{{/with}}
{{> commentsView}}
</template>